@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    padding : 0;
    margin:0;
    font-family: "Poppins";

}
#search{

    display:flex;
    justify-content:center;
    height:25vh;
   
    align-items:center;
    margin-top:120px;


}
.searchbar{
    width: 450px;
    border-radius:12px;
    border-style:dashed;
    border-color: blue;
    border-width : 2px;
    height:30px;


}

.container{
    margin-top:150px;

    height:1080px;;
    display:flex;
    justify-content: center;
align-items:center;


    flex-direction : column;

}
.box{
    width:180vh;
    background-color:grey;
    padding:12px;
    height:20vh;

}

