@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #fff;
}

header {
    background-color: #4741DE;
    color: #fff;
    padding: 15px;
}

.navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deco {
    background-color: #fff;
    color: #4741DE;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    min-width: 0;
    width: 0;
}

.width {
    min-width: 100%;
}

.box {
    background-color: #f0f0f0;
    width: max-content;
    border-bottom: solid 1px #4741DE;
    border-right: solid 1px #4741DE;
    border-left: solid 1px #4741DE;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 5px 10px 5px;
}

.box ion-icon {
    color: #4741DE;
    margin-right: 10px;
}

.deco span {
    align-self: flex-end;
    color: #4741DE;
}

.elt {
    margin: 0 25px 0 25px;
    text-decoration: none;
    color: #fff;
    position: relative;
}

.icon {
    margin: 0 25px 0 25px;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.icon:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
  
.elt:hover {
    opacity: 1;
}

.elt::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
}

.elt-hov::before {
    width: 0%;
    bottom: 0;
}

.elt-hov:hover::before {
    width: 100%;
}

.relat {
    position: relative;
}

.logo {
    font-size: xx-large;
}

.ligne {
    height: 25px;
    width: 2px;
    background-color: #fff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin: 0 25px 0 25px;
}

ion-icon {
    color: #fff;
    width: 28.55px;
    height: 28.55px;
}

.containform {
    border: solid 5px #4741DE;
    width: max-content;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgb(120, 120, 120);
}

form {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ligne2 {
    height: 2.5px;
    width: 250px;
    background-color: #4741DE;
    margin: -3px 0 15px 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    align-self: flex-start;
}

.btn {
    background-color: #4741DE;
    border: none;
    border-radius: 5px;
    padding: 10px 150px 10px 150px;
    color: #fff;
    margin: 15px 0 15px 0;
    width: 100%;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
}

.btn:hover {
    background-color: #fff;
    color: #4741DE;
    box-sizing: border-box;
    border: dotted 2px #4741DE;
}

.form-date {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-date input {
    border: solid 2px #4741DE;
    margin: 15px 0 15px 0;
}

select {
    border: solid 2px #4741DE;
    width: max-content;
    width: 100%;
}

.comments {
    width: 100%;
}

.comments textarea {
    border: solid 2px #4741DE;
    resize: none;
    width: 100%;
}

footer {
    background-color: #4741DE;
    padding: 25px 25px 0 25px;
}

.foot {
    display: flex;
    flex-direction: column;
    justify-content: center ;
}

.foot span {
    margin: 15px auto;
    color: #fff;
}

.namelist {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;
}
